@tailwind base;
@tailwind components;
@font-face {
  font-family:"Morsan" ;
  src: url(/src/app/fonts/Morsan.ttf) format("ttf");
}
@tailwind utilities;


body {
  background-color: orange;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
